.text-decor-none {
  text-decoration: none;
}
.mbh3-3 {
  margin-bottom: 150px;
}
.zoom-in {
  opacity: 0;
  transform: scale(0.95);
  animation: zoomInSoft 0.8s ease-out forwards;
}

@keyframes zoomInSoft {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.t-M10 {
  top: 150px;
}
.mt--6 {
  margin-top: -60px;
}

.mt--4 {
  margin-top: -40px;
}

.mb--8 {
  margin-bottom: -80px;
}
.pb--8 {
  padding-bottom: -80px;
}
.mt-6 {
  margin-top: 60px;
}
.nocopy {
  -webkit-user-select: touch;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* Standard */
}
.nocopyimg {
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none;
  user-select: none;
}
